.Name {
  text-decoration: none;
}

.linkItem {
  text-transform: lowercase;
  margin: 0 vars.$spacer;
}

.Wrapper {
  $header-color : var(--card);
  padding: vars.$spacer-l vars.$spacer-m;
  position: sticky;
  top: 0;
  background-color: rgba($header-color, 0.2);
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  .nav{
    display: inline-flex;
  }
  .theme_sun{}
  .theme_moon{}
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .Wrapper {
    $header-color : var(--card);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($header-color, 0.2);
  }
}
