/** League Spartan
*/

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 100;
  src: local("./LeagueSpartan/LeagueSpartan-Thin.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 200;
  src: local("./LeagueSpartan/LeagueSpartan-ExtraLight.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("./LeagueSpartan/LeagueSpartan-Light.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("./LeagueSpartan/LeagueSpartan-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local("./LeagueSpartan/LeagueSpartan-Medium.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local("./LeagueSpartan/LeagueSpartan-SemiBold.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("./LeagueSpartan/LeagueSpartan-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: local("./LeagueSpartan/LeagueSpartan-ExtraBold.ttf") format("TrueType");
}

@font-face {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: local("./LeagueSpartan/LeagueSpartan-Black.ttf") format("TrueType");
}

/** Vollkorn
*/

@font-face {
  font-family: "Vollkorn", cursive;
  font-style: normal;
  font-weight: 400;
  src: local("./Vollkorn/Vollkorn-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Vollkorn", cursive;
  font-style: normal;
  font-weight: 500;
  src: local("./Vollkorn/Vollkorn-Medium.ttf") format("TrueType");
}

@font-face {
  font-family: "Vollkorn", cursive;
  font-style: normal;
  font-weight: 600;
  src: local("./Vollkorn/Vollkorn-SemiBold.ttf") format("TrueType");
}

@font-face {
  font-family: "Vollkorn", cursive;
  font-style: normal;
  font-weight: 700;
  src: local("./Vollkorn/Vollkorn-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: "Vollkorn", cursive;
  font-style: normal;
  font-weight: 800;
  src: local("./Vollkorn/Vollkorn-ExtraBold.ttf") format("TrueType");
}

@font-face {
  font-family: "Vollkorn", cursive;
  font-style: normal;
  font-weight: 900;
  src: local("./Vollkorn/Vollkorn-Black.ttf") format("TrueType");
}
