@use "./base/reset";
@use "./base/reboot";
@use "./base/initial";

@use "./utils/misc";


:root {
  /*! Screen Sizes
    ******************************/
  --breakpoint-xs: #{vars.$breakpoint-xs};
  --breakpoint-sm: #{vars.$breakpoint-sm};
  --breakpoint-md: #{vars.$breakpoint-md};
  --breakpoint-lg: #{vars.$breakpoint-lg};
  --breakpoint-xl: #{vars.$breakpoint-xl};

  /*! Colors
    ******************************/
  --color-primary: #139652;
  --color-primary-light: #1FBF73;
  --color-primary-light-bg: #DFF7EB;
  --color-primary-dark-bg: #0B3F2B;
  --color-secondary: #F2C94C;
  --color-secondary-light: #FFF4C2;
  --color-accent: #EB5757;
  --bg: #F8F9FA;
  --bg-light: #FFFFFF;
  --bg-dark: #E6EBE9;
  --text: #1E1E1E;
  --fixed-text: #1E1E1E;
  --text-light: #F5F5F5;
  --card: #E6EBE9;
  --card-dark: #2C2C2E;
  --card-shadow: rgba(0, 0, 0, 0.08);
  --muted: #A6A6A6;
  --border: #DADADA;
  --highlight-hover: rgba(0, 0, 0, 0.05);

  /*! Font
    ******************************/
  --font-family-primary: #{vars.$primaryFontFamily};
  --font-family-secondary: #{vars.$secondaryFontFamily

}

;
}

[data-theme="dark"] {

  --color-primary: #139652;
  --color-primary-light: #1FBF73;
  --color-primary-light-bg: #1A3C31;
  --color-primary-dark-bg: #062D1F;
  --color-secondary: #F2C94C;
  --color-secondary-light: #FFF4C2;
  --color-accent: #EB5757;
  --bg: #1C1C1E;
  --bg-light: #2C2C2E;
  --bg-dark: #121212;
  --text: #F5F5F5;
  --text-light: #1E1E1E;
  --card: #121212;
  --card-dark: #FFFFFF;
  --card-shadow: rgba(0, 0, 0, 0.4);
  --muted: #A6A6A6;
  --border: #3A3A3C;
  --highlight-hover: rgba(0, 0, 0, 0.05)
}

body {
  background-color: var(--bg);
}

body {
  font-family: var(--font-family-primary);
  font-size: vars.$font-size-base;
  line-height: 1.8;
  color: var(--text);
}

.btn {
  background-color: var(--bg-light);
  border: 0;
  border-radius: 100px;
  padding: vars.$spacer vars.$spacer-m 1.8rem;
  line-height: 1;
  font-weight: 500;
  box-shadow: vars.$btnShadow;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.005);
  box-shadow: vars.$btnShadowHover;
}

.btn+.btn {
  margin-left: 1.2rem;
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
}

.btn-solid {
  background-color: var(--color-primary);
  color: var(--text-light);
}

main>section {
  padding-left: vars.$spacer;
  padding-right: vars.$spacer;
  padding-top: vars.$spacer-xl;
  padding-bottom: vars.$spacer-xxl;
  background-color: var(--bg-light);
}

section.is-light-colored {
  background-color: var(--bg);
}

section.is-primary-colored {
  background-color: var(--color-primary-light-bg);
}

.container {
  width: 100%;
  max-width: vars.$containerWidth;
  margin-left: auto;
  margin-right: auto;
}

.text-highlight {
  color: var(--color-primary);
}

/*cards*/
.cards {
  .carditem {
    user-select: none;
    padding: vars.$spacer-m;
    background-color: var(--card);
    border-radius: 4px;
    box-shadow: 3px 3px 5px -3px var(--card-shadow);
    transition: 0.3s ease;

    p {
      color: var(--color-dark);
    }

    &:hover {
      box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 0.2);
      transform: scale(1.02);
    }
  }

  .card-outline {
    .carditem {
      border: 1px solid var(--border);
    }
  }

  &.card-outline {
    .carditem {
      border: 1px solid var(--border);
    }
  }
}

.text-primary {
  color: var(--color-primary-base);
}

.text-secondary {
  color: var(--color-secondary-base);
}

.text-white {
  color: var(--color-white);
}

.textEllipsis {
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;

  &.small {
    -webkit-line-clamp: 1;
  }

  &.medium {
    -webkit-line-clamp: 4;
  }

  &.large {
    -webkit-line-clamp: 5;
  }
}

.half-width {
  width: 50%;
}

.line {
  height: 2px;
  background-color: var(--color-dark-xlightest);
  background-color: var(--bg-light);
}