/*** _base.scss 
  Purpose: Define base-level styles for elements (body, headings, links, paragraphs). 
  Why: Gives typography, colors, and global visual rules.
**********************************/

@use "@/styles/utils/variables" as vars;
@use "@/styles/utils/mixins" as mixins;

@include mixins.generate-spacer-classes();
@include mixins.generate-line-height-classes();
@include mixins.generate-font-weight-classes();

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
  font-family: var(--font-family-primary);
  font-size: vars.$font-size-base;
  line-height: 1.8;
  color: var(--text);
}

a {
  display: inline-block;
  position: relative;
  color: var(--color-primary);
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

hgroup {
  margin-bottom: vars.$spacer-m;
}

main>section {
  padding-left: vars.$spacer;
  padding-right: vars.$spacer;
  padding-top: vars.$spacer-xl;
  padding-bottom: vars.$spacer-xxl;
  background-color: var(--bg-light);
}

section.is-light-colored {
  background-color: var(--bg);
}

section.is-primary-colored {
  background-color: var(--color-primary-light-bg);
}


.font-base {
  font-size: vars.$font-size-base;
}

.font-display {
  font-size: 4.8rem;
}

.font-h1 {
  font-size: vars.$font-size-h1;
}

.font-h2 {
  font-size: vars.$font-size-h2;
}

.font-h3 {
  font-size: vars.$font-size-h3;
}

.font-h4 {
  font-size: vars.$font-size-h4;
}

.font-h5 {
  font-size: vars.$font-size-h5;
}

.font-h6 {
  font-size: vars.$font-size-h6;
}

.fond-bold {
  font-weight: 600;
}

.fond-boldest {
  font-weight: 900;
}

.fond-bolder {
  font-weight: 700;
}

.fond-light {
  font-weight: 300;
}

.fond-thin {
  font-weight: 100;
}

.display-inline-block {
  display: inline-block;
}

/*
* Flex box
*/

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: flex-start;
}

.justify-items-end {
  justify-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.flex0 {
  flex: 0 0 auto;
}

.flex1 {
  flex: 1 0 auto;
}

.flex2 {
  flex: 2 0 auto;
}

.flex3 {
  flex: 3 0 auto;
}

.display-content {
  display: contents;
}

.flexCards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: calc(-1 * vars.$cardSpace / 2);
  flex-direction: column;

  .flexItem {
    flex: 1;
    margin: calc(vars.$cardSpace / 2);
  }

  &.noShrink {
    .flexItem {
      flex: 0 0 auto;
    }
  }

  &.column2 {
    .flexItem {
      flex-basis: 100%;

      @include mixins.breakpoint(md) {
        flex-basis: calc((100% / 2) - vars.$cardSpace);
      }
    }
  }

  &.column3 {
    .flexItem {
      flex-basis: 100%;

      @include mixins.breakpoint(md) {
        flex-basis: calc((100% / 2) - vars.$cardSpace);
      }

      @include mixins.breakpoint(lg) {
        flex-basis: calc((100% / 3) - vars.$cardSpace);
      }
    }
  }

  &.column4 {
    .flexItem {
      flex-basis: 100%;

      @include mixins.breakpoint(md) {
        flex-basis: calc((100% / 2) - vars.$cardSpace);
      }

      @include mixins.breakpoint(lg) {
        flex-basis: calc((100% / 3) - vars.$cardSpace);
      }

      @include mixins.breakpoint(xl) {
        flex-basis: calc((100% / 4) - vars.$cardSpace);
      }
    }
  }

  @include mixins.breakpoint(md) {
    flex-direction: row;
  }
}