.Name {
  text-decoration: none;
}

.linkItem {
  text-transform: lowercase;
  margin: 0 vars.$spacer;
}

.Wrapper {
  $header-color : var(--card);
  position: sticky;
  top: 0;
  background-color: rgba($header-color, 0.2);
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: vars.$z-header;
  padding-left: vars.$spacer;
  padding-right: vars.$spacer;
  min-height: vars.$headerHeight;

  .muted {
    color: vars.$color-black;
    opacity: 0.1;
  }

  .nav {
    display: inline-flex;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .Wrapper {
    $header-color : var(--card);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($header-color, 0.2);
  }
}

.active {}

.theme_sun,
.theme_moon {
  cursor: pointer;
}

.desktopOnly {
  @media (max-width: var(--breakpoint-md)) {
    display: none;
  }
}

.mobileOnly {
  display: none;

  @media (max-width: var(--breakpoint-md)) {
    display: block;
  }
}

.mobileMenuOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  overflow: hidden;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  font-size: 4rem;

  a {
    color: var(--text);
  }
}

.activeMobile {
  font-weight: 900;
}

.mobileThemeToggle {
  margin-top: 2rem;
  cursor: pointer;
}

.desktopOnly {
  display: flex;

  @media (max-width: 1023px) {
    display: none !important;
  }
}

.mobileOnly {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}