/* Imports
 ------*/
@use "@/assets/fonts/FontImport.scss";
/* Colors
  ------*/
$color-primary: var(--color-primary); // #139652;
$color-primary-light: var(--color-primary-light); // #139652;
$color-primary-light-bg: var(--color-primary-light-bg); // #139652;
$color-primary-dark-bg: var(--color-primary-dark-bg); // #139652;
$color-secondary: var(--color-secondary); //#4B5563;
$color-secondary-light: var(--color-secondary-light); //#4B5563;
$color-accent: var(--color-accent);

// Light theme
$color-black: #000000;
$color-white: #ffffff;
$light-bg: var(--bg); // #F8F9FA;
$light-bg-light: var(--bg-light); // #F8F9FA;
$light-bg-dark: var(--bg-light); // #F8F9FA;
$light-text: var(--text);
$light-text-light: var(--text-light);
$light-card: var(--card); // #FFFFFF;
$light-card-dark: var(--card-cardk); // #FFFFFF;
$light-card-shadow: var(--card-shadow); // #FFFFFF;
$light-muted: var(--muted); // #A6A6A6;
$light-border: var(--border); // #DADADA;
$light-highlight-hover: var(--highlight-hover); // #DADADA;


/* Spacers
  ------*/
$spacer: 2rem;
$spacer-xxl: $spacer * 6;
$spacer-xl: $spacer * 4;
$spacer-l: $spacer * 2.5;
$spacer-m: $spacer * 1.6;
$spacer-s: $spacer * 0.5;
$spacer-xs: $spacer * 0.25;
$spacer-xxs: $spacer * 0.1;

/* Responsive Screens and Others 
------*/

/* Component Variables 
------*/
$headerHeight: 80px;
$containerWidth: 1280px;

/* Fonts , Sizes and Styles
------*/
$font-size-base: 2.1rem;
$font-size-h1: 3.6rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2.6rem;
$font-size-h4: 2.2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;
$font-size-display: 4.8rem;
$primaryFontFamily: "League Spartan", sans-serif;
$titleFontFamily: "Vollkorn", serif;
$secondaryFontFamily: "Vollkorn", serif;

/* Shadows
------*/
$btnShadow: inset 4px 6px 13px 0px rgba(0, 0, 0, 0.05),
  1px 2px 3px rgba(0, 0, 0, 0.2);
$btnShadowHover: inset 4px 6px 23px 0px rgba(255, 255, 255, 0.2),
  1px 7px 4px rgba(0, 0, 0, 0.15),
  inset 0 0 0 1px rgba(19, 150, 82, 0.125);
$shadowBase: 1px 2px 3px rgba(0, 0, 0, 0.2);

/* Cards
------*/
$cardSpace: 30px;
$cardBorderRadius: 4px;

// _variables.scss

$variable-sizes: (
  none: 0,
  xs: 4px,
  s: 8px,
  base: 12px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 40px
);

$line-heights: (
  1: 1,
  1-2: 1.2,
  1-5: 1.5,
  2: 2
);

$font-weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  block: 900
);

$breakpoint-xs: 480px; // Extra small devices (mobile phones)
$breakpoint-sm: 576px; // Small devices (landscape phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)